//引入清除默认样式
@import "./reset.scss";

//滚动条外观设置
::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track{
    background-image: linear-gradient(to bottom, #e0c3fc 0%, #8ec5fc 100%);
}

::-webkit-scrollbar-thumb{
    width: 6px;
    background-color: rgb(81, 81, 230);
    border-radius: 10px;
}