//项目提供scss全局变量

//左侧菜单宽度
$base-menu-width: 260px;
//左侧菜单背景颜色
$base-menu-background: #1e4870;
//顶部导航高度
$base-tabbar-height:60px;
//左侧菜单logo高度设置
$base-menu-logo-height: 60px;
//左侧菜单logo文字大小
$base-menu-logo-font-size: 20px;